

.texto{
  flex: 1;
  max-width: 70%;
  padding: 10%;
  box-sizing: border-box;
  margin-top: -30%;
}

.texto p b{

  font-family: Cambria;
  font-size: 25px;
}

.CAIXA{
    display: inline-block;
    display: flex;
    margin: 200px;
    margin-top: 95px; 
  }
    
  .slick-prev,.slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #34a109;
        color: hsl(103, 89%, 33%);
        font-size: 30px;
        padding: 25px 25px;
        cursor: pointer;
        z-index: 1;
    }
    
  .slick-prev {
        left: 550px;
        background-color: #34a109;
    }
    
  .slick-next {
        right: 550px;
        background-color: #34a109;
    }
  
  .rolagem {
      width: 40%; 
      
  }
  
  .rolagem a img {
      height: 80%;
      width: 80%;
  
  }