.logo img{
  height: 25%;
  width: 25%;
  flex: 1;
  margin-top: 1%;

}

.texto{
  flex: 1;
  max-width: 70%;
  padding: 10%;
  box-sizing: border-box;
  margin-top: -30%;
}

.texto p b{

  font-family: Cambria;
  font-size: 25px;
}

.CAIXA{
    display: inline-block;
    display: flex;
    margin: 200px;
    margin-top: 95px; 
  }
    
  .slick-prev,.slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #34a109;
        color: #34a109;
        font-size: 30px;
        padding: 20px 20px;
        cursor: pointer;
        z-index: 1;
    }
    
  .slick-prev {
        left: 350px;
        color: #34a109;
    }
    
  .slick-next {
        right: 350px;
        color: #34a109;
    }
  
  .rolagem {
      width: 25%; 
      
  }
  
  .rolagem a img {
      height: 90%;
      width: 70%;
  
  }