.lateral {
    width: 250px;
    background-color: #b31616;
    padding: 400px;
    float: left; 
    display: flex;
}

.containe {
    background-color: rosybrown;
    grid-area: sidebar;
    border-radius: 0.8em;
    display: flex;
}